<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2026 Ivo Filot <ivo@ivofilot.nl> -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<Installer>
    <Name>P2000M VID2VGA Viewer</Name>
    <Version>@VERSION@</Version>
    <Title>P2000M VID2VGA Viewer Setup</Title>
    <Publisher>Ivo Filot</Publisher>
    <ProductUrl>https://github.com/ifilot/p2000m-video-to-vga-adapter</ProductUrl>
    <StartMenuDir>P2000M VID2VGA Viewer</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/P2000M VID2VGA Viewer</TargetDir>
    <AdminTargetDir>@ApplicationsDirX64@/P2000M VID2VGA Viewer</AdminTargetDir>
    <InstallerApplicationIcon>p2000m-vid2vga-viewer</InstallerApplicationIcon>
    <InstallerWindowIcon>p2000m-vid2vga-viewer-icon.png</InstallerWindowIcon>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>720</WizardDefaultWidth>
    <WizardDefaultHeight>520</WizardDefaultHeight>
    <MaintenanceToolName>p2000m-vid2vga-maintenance</MaintenanceToolName>
    <MaintenanceToolIniFile>p2000m-vid2vga-maintenance.ini</MaintenanceToolIniFile>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
